doctype html
html(lang="en")
    head
        title= "React & Redux"
        link(rel="stylesheet", href="/static/css/main.css")
    body
        h3 React and Redux using Express
        div(id="app")
        script(type="text/javascript", src="/static/js/bundle.js")
